.title-color {
    color: #478376
}
body {
    margin:0;
    padding:0
}
.home-button-color {
    color: white;
}
main {
    padding: 16px
}
footer {
   padding-top:24px;
   padding-bottom:24px;
   padding-left:20px;
   padding-right:0px

}
img {
    max-height:200px
}
nav {
    border-bottom:1px solid black;
    padding:16px;
    background-color: #ff5a34
}
a {
    text-decoration: none;
    color: #44803f;
  }
footer {
    background-color: #b5cf66;
    color:black;
    font-size: medium;
    font-weight:500
}
tr:nth-child(even) {
    background-color: lightgrey
}
.recipe-select {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr
}
div {
    padding-right: 40px
}